<!DOCTYPE html>
<html lang="en" class="full-height">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <!-- app icon -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/gift.ico" />
	
    <!-- Font Awesome -->
	<!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	-->
	<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="/assets/css/mdb.min.css">
	<!-- Sweet alert -->
    <link rel="stylesheet" href="/assets/css/sweetalert.css">
</head>
<body>
    {{> top-nav }}
    
    {{{ body }}}
    <a href="/logout" >Logout</a>
</body>
</html>
